body{
    margin-left: 40px;
    font-family: poppins;
}
h1{
    font-size: 50px;
    
}
.name{
    color: orange;
}
p{
    width: 50%;
}

a:visited{
    color: paleturquoise;
}
a:hover{
    color: rgb(14, 99, 36);
}
.starter{
    font-weight: 800;
    font-size: 22px;
}
.hireBtn{
    color:rgb(10, 9, 9) ;
    padding: 6px 40px;
    border-radius: 4px;
    background-image: linear-gradient(white, orange);
}
.hireBtn:hover{
    font-size: 16px;
    transition: all .2s ease;
    color:rgb(255, 253, 253) ;
    background-image: linear-gradient(orange, rgb(95, 133, 133));
}