body {
    font-family: poppins;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: rgb(32, 159, 213);
    transition: all 1s ease;
}

.linkR {
    text-decoration: none;
    font-weight: 400;
}

.stories {
    text-align: justify;
    margin-bottom: 20px;
}

.starter {
    font-weight: 700;
    font-size: 22px;
}

.hireBtn {
    display: inline-block;
    font-size: larger;
    padding: 10px 60px;
    margin-top: 20px;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(253, 239, 218), orange);
    text-decoration: none;
    text-transform: uppercase;
}

.hireBtn:visited {
    color: black;
}

.hireBtn:hover {
    transition: all 1s ease;
    color: rgb(255, 253, 253);
    background-image: linear-gradient(to right, orange, rgb(191, 231, 248));
}

.flexible_container {
    display: flex;
    margin-bottom: 120px;
}

.hw {
    width: 40%;
    padding: 0% 4%;
}

.exp_item {
    width: 40%;
    margin: 0% 6%;
    box-shadow: 10px 10px 20px rgb(118, 116, 116);
    border-radius: 12px;
}

.topRight img {
    width: 90%;
    margin-top: 30px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    padding-left: 6%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    position: left;
}

#full-stack-developer {
    border-left: 10px solid tomato;
}

#learner_developer {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
    background-color: rgb(245, 225, 199);
    margin-bottom: 0;
    padding: 20px 0px;
}